.sidebar{
    position: fixed; /* Keep the sidebar fixed on the screen */
    top: 0;
    left: 0;
    width: 60px; /* Set a fixed width */
    height: 100vh; /* Full height of the viewport */
    padding: 10px 7px;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 50px auto 50px;
    align-items: flex-start;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    
    /* Ensure that the content inside sidebar doesn’t overflow */
    box-sizing: border-box;
    
    /* Optional: add a box shadow to distinguish sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    
    /*
    display:grid;
    width: 60px;
    padding: 10px 7px;
    height: 100vh;
    grid-template-rows: 50px auto 50px;
    background-color: var(--black);
    align-items: flex-start;
    flex-direction: column;
    */

    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        img{
            width: 40px;
        }
    }

    section{
        display: flex;
        height: 100%;
        align-items: center;
        gap: 8px;
        flex-direction: column;
        justify-content: center;
        .item{
            svg{
                width: 40px;
                height: 40px;
            }
        }
    }

    .logout{
        display: flex;
        justify-content: center;
        width: 100%;
        svg{
            width: 40px;
            height: 40px;
            color: var(--white);
            cursor: pointer;
        }
    }
}